.task {
    background-color: #f4f4f4;
    margin: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.task.reminder {
    border-left: 5px solid green;
    align-items: center;
    justify-content: space-between;
}

/* Estilos del icono se implemeto en le html para usar ngStyle pero lo correcto es ponerlo aqui
fa-icon{
    color:red;
    float: right;
} */